<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="host" value="https://cms.crownpeak.com"/>
    <add key="instance" value="your instance name"/>
    <add key="username" value="your username"/>
    <add key="apiKey" value="your api key"/>
  </appSettings>
</configuration>